@import '../../../variables.scss';

    .select {
        width: 280px;
        position: relative;
        user-select: none;
        margin-bottom: 10px;

        &.isDisabled {
            pointer-events: none;

            .selected {
                opacity: 0.8;
            }
        }

        .selected {
            display: flex;
            border: 1px solid $component-outline;
            padding: 8px 10px;
            border-radius: 3px;

            span {
                display: flex;
                align-self: center;
            }

            span:nth-child(2) {
                margin-left: auto;
                margin-right: 5px; 
            }
        }
        .options {
            margin-left: 5px;
            display: flex;
            display: flex;
            flex-direction: column;
            overflow: auto;
            position: relative;
            z-index:10;
            position: absolute;
            left: 0;
            right: 0;
            background-color: #151515;
            &.isOpen {
                border: 1px solid $component-outline;
            }
        }
        .option {
            padding: 8px 10px;
            background-color: #151515;
            &:hover {
                background-color: $component-outline;
                color: #151515;
            }
        }
    }

    .spinner {
        margin-left: 5px;
        display: flex;
        align-items: center;
    }